version: "3.9"
services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    networks:
      - daipaynet

  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file:
      - ./server/.env.prod
    ports:
      - "8080:8080"
    restart: unless-stopped
    depends_on:
      - mongo
    networks:
      - daipaynet

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    restart: unless-stopped
    depends_on:
      - api
    networks:
      - daipaynet

volumes:
  mongo-data:

networks:
  daipaynet:
